/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 16rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url("../../static/img/404bg.svg") !important;
  background-size: cover;
  color: rgb(51 65 85) !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 12rem 2rem 12rem 2rem;
    background-image: url("../../static/img/404bg.svg") !important;
    background-size: cover;
    color: rgb(51 65 85) !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(51 65 85) !important;
}
